@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* END OF SCROLLBAR */

/* LIST SCROLLBAR */
ul#task-list::-webkit-scrollbar {
  width: 5px;
}

ul#task-list::-webkit-scrollbar-thumb:hover {
  background: rgb(126, 124, 223);
}
/* END OF LIST SCROLLBAR */

/* DONE CHECKBOX STYLE */
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #555;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #000000;
}
/* END OF DONE CHECKBOX STYLE */

body {
  background-image: url("https://github.com/angelRep/CFG-JS-TodoApp/blob/main/abstract.png?raw=true"),
    linear-gradient(
      142.4deg,
      rgb(139, 98, 208) 5%,
      rgb(126, 124, 223) 28.2%,
      rgb(109, 207, 236) 62.5%,
      rgb(176, 239, 244) 89.1%
    );
  background-size: 100% 100%;
  color: #151515;
  font-family: Montserrat;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin: 0px 0px 50px 0px;
  padding: 10px;
  background-color: #00000050;
}

#logo {
  color: #fff;
}

.create-task-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#open-modal-button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 12px 50px;
  text-transform: uppercase;
  width: fit-content;
  transition: 0.2s ease-in-out 300ms;
}

#open-modal-button:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
  background-color: rgb(126, 124, 223);
  border: 1px solid rgb(126, 124, 223);
  color: #fff;
  transform: scale(1.25);
  transition: 300ms ease-in-out;
}

.modal {
  display: none;
}

.modal-open {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  /*   margin: auto;
  position: absolute;
  top: 10%;
  left: 10%; */
}

/* form::before {
  content: "";
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
} */

form label {
  font-size: 14px;
  width: 95%;
}

form input {
  border: 1px solid #555;
  width: 28vw;
  min-width: 400px;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 12px;
}

form button,
.dev button {
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: rgb(126, 124, 223);
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: 400ms ease-in-out;
}

form button:hover,
#add-button:hover,
.dev button:hover {
  background-color: rgb(109, 207, 236);
}

#close-modal-button {
  align-self: flex-end;
  background-color: #eee;
  box-shadow: none;
  color: #151515;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
}

#close-modal-button:hover {
  color: rgb(126, 124, 223);
  transform: scale(1.25);
  transition: 300ms ease-in-out;
}

#task-list {
  margin: 40px 0 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  width: max-content;
  height: 75vh;
  min-height: 300px;
  max-height: 80vh;
  overflow: auto;
}

#task-list li,
#no-task-msg {
  background-color: #eee;
  align-items: center;
  gap: 35px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 10px auto;
  padding: 25px;
  width: 60vw;
  max-width: 850px;
  /*   z-index: -11; */
  position: relative;
}

#no-task-msg {
  margin-top: 30px;
}

#task-list li:hover {
  background-color: #eef;
  box-shadow: 3px 6px #88888850;
}

#task-list li .task-details {
  padding: 5px;
}

#task-list li .task-inside-details {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  gap: 5px 20px;
}

#task-list li h3 {
  font-size: 1.3rem;
}

#task-list li p {
  text-transform: uppercase;
  font-size: 13px;
}

.donetask {
  color: #c2bbba;
  text-decoration: line-through 2px rgb(126, 124, 223);
  opacity: 0.8;
}

.delete {
  background: transparent;
  align-self: stretch;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  font-size: 18px;
  transition: 300ms ease-in-out;
}

.delete:hover {
  color: rgb(126, 124, 223);
  transform: scale(1.25);
}

footer {
  padding: 10px 0 0 0;
  background-color: rgba(0, 0, 0, 0.91);
  color: #fff;
  text-align: center;
}

footer > p {
  margin-top: 25px;
  padding: 5px;
  background-color: #000;
  width: 100%;
  font-size: 10px;
}

footer h2 {
  margin: 20px 10px;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
  padding: 15px;
}

.about-us .dev {
  margins: 0;
  width: 80vw;
  max-width: 500px;
  background-color: rgba(238, 238, 238, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
}

.dev p {
  text-align: justify;
}

.dev button {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 200px;
  padding: 10px;
}

@media (max-width: 1000px) {
  form#input-form input {
    width: 50vw;
    min-width: 300px;
  }
  #task-list li {
    width: 85vw;
  }
}

@media (max-width: 850px) {
  .about-us {
    flex-direction: column;
  }

  .about-us .dev {
    margin-left: auto;
    margin-right: auto;
  }
}
